
.bannerBoxV2 {
  height: clamp(180px, 28vw, 230px);
}

.bannerBoxV2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerBoxV2 a {
  text-decoration: underline !important;
}

@media (max-width: 768px) {
  .bannerBoxV2 {
    height: 180px;
  }
}